@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    line-height: 1.7;
    background: linear-gradient(to bottom, #f0f0f0, #e8ffeae8);
}

h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0 60px;
    color: #333;
}

h3{
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0 60px;
    color: #333;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

#search-input {
    width: 60%;
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 18px;
    color: #333;
}

#search-button {
    padding: 10px 20px;
    background-color: #4a90e2;
    color: #fff;
    border: none;
    font-size: 18px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 10%;
    margin-left: 10px;
}

.search-results {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.search-result {
    margin-bottom: 40px;
    width: calc(33.33% - 20px);
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.search-result:hover {
    transform: translateY(-5px);
}

.search-result img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.search-result a {
    font-size: 16px;
    text-decoration: none;
    color: #4a90e2;
    display: block;
    padding: 10px;
    text-transform: capitalize;
}

#show-more-button {
    background-color: #4a90e2;
    font-size: 18px;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    display: block;
    margin: 30px auto;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px) {
    .search-results {
        padding: 20px;
    }

    .search-result {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .search-result {
        width: calc(100% - 20px);
    }
}
